body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

select {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#movies {
    margin-top: 20px;
    font-weight: bold;
}
